.app-container h3{
    margin: 20px;
}
  
.map-and-manager-container{
    display: flex;
    flex-direction: row ;
}

.title{
    display: flex;
    flex-direction: row ;
}

.button{
    width: 10rem;
    height: 3rem;
    margin: 10px 5px;
    padding: 1px;
}